.barrier {
	background: #0D0E57;
}

#table{
	background: green;
}


.H {
	background: #9DFF00;
	color: white;
}

.after_step {
	background: #022600;
	color: #022600;
}

.this_step {
	background: #022600;
	color: white;	
}

.win {
	background: #9DFF00;
	color: #9DFF00;
}